@import "../module/common.css";

body{
	margin: 0;
}

.parent{
	width:      800px;
	/*margin auto는 수평선 상에서 중간에 둘 수 있다.
	postion이 fix일 때는 안됨  
	height를 auto로 맞출 수는 없다. */
	margin:     80px auto;
	background: #FE4940;
}

.child{
	float: left;
	width:      400px;
	height:     400px;
	background: #FC8686;
}

.sibling{
	float: right;
	width: 200px;
	height: 200px;
	background: #123445;
}

/*child와 sibling이 float로 인해 뜨는 바람에 parent가 해당 블록들을 잡지 못하는 것을 해결하는 방식 
.clearfix{
	clear: both;
}
*/