body{
	margin: 0px;
}

/*가운데 배치하는 방법 하나
.parent{
	position: absolute;
	background: #FF2899;
	width: 50vw;
	height: 50vh;
	top:50%;
	left:50%;
	margin-left: 25vw;
	margin-top: 25vh;
}
*/

.parent{
	position: absolute;
	background: #FF2899;
	width: 50vw;
	height: 50vh;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}