@charset "utf-8";
@import "grid.css";
@import "reset.css";
@import "common.css";

/*페이지 디자인*/

.page{
	/*height:100vh;*/
}

body{
	background: #bababa;
}

.page .row > div {
	height: 200px;
	background: #004080;
}

